{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}
<h1>Mentions Légales</h1>

<p>Bienvenue sur la page des mentions légales. Vous pouvez consulter les différentes informations légales ci-dessous :</p>

<ul>
    <li><a href="{{ path('app_legal_cgu') }}">CGU</a></li>
    <li><a href="{{ path('app_legal_cgv') }}">CGV</a></li>
    <li><a href="{{ path('app_legal_privacy') }}">Politique de confidentialité</a></li>
    <li><a href="{{ path('app_legal_about') }}">Qui sommes-nous ?</a></li>
</ul>
{% endblock %}
