{% extends 'base.html.twig' %}

{% block title %}Accueil - Boutique de Jeux{% endblock %}

{% block body %}
<h1>Bienvenue sur la boutique de jeux</h1>

<p>Découvrez et gérez votre collection de jeux vidéo.</p>

{% if app.user %}
    <ul>
        <li><a href="{{ path('app_game_index') }}">Voir les jeux</a></li>
        <li><a href="{{ path('app_game_new') }}">Ajouter un jeu</a></li>
    </ul>
{% else %}
    <p>Créez un compte pour voir les jeux</p>
{% endif %}
{% endblock %}
